.reviewBox {
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.rat {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: -1.5rem;
  width: 280px;
  justify-content: space-between;
}

.ans_btn {
  background: var(--primary-color);
  color: #fff;
  text-transform: capitalize;
  width: 6rem;
}

.ans_btn:hover {
  background: var(--primary-color);
}
