.promo_btn {
  border: 1px solid var(--primary-color);
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 1rem;
  height: 3rem;
  width: 60%;
}

.middleWarper {
  margin-top: 1rem;
}

.calenderBox {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 1rem;
}

.optionsBox {
  background: #f6f6f6;
  width: 96%;
  margin-left: auto;
  border-radius: 5px;
  height: 100%;
  padding: 1rem;
}
