*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #e72311;
  --secondary-color: #414141;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

.mainWarper {
  max-width: 1200px;
  margin: auto;
}

.MuiNativeSelect-icon {
  color: #fff;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #414141;
  outline: 1px solid slategrey;
}

.date-picker .MuiInput-underline:before {
  display: none;
}

.date-picker .MuiInputBase-input {
  display: none;
}

.date-picker .MuiButtonBase-root {
  height: 2.5rem;
  background: #f6f6f6;
  border-radius: 5px;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.rbCalender .date-picker .MuiButtonBase-root:hover {
  background: #f6f6f6;
}

.rbCalender .rbc-event-content {
  background: var(--primary-color);
}

.rbCalender .rbc-event {
  background: var(--primary-color) !important;
  outline: none !important;
}

.rbCalender .rbc-off-range-bg {
  background: #fff !important;
}

.rbCalender .rbc-today {
  background: #fdeeed !important;
}

.rbCalender .rbc-active {
  background: var(--primary-color) !important;
  color: #fff !important;
  border: none !important;
}

.rbCalender .rbc-active:hover {
  color: #fff !important;
}

.rbCalender .rbc-toolbar {
  background: #f6f6ff;
  margin-bottom: 2rem;
}

.rbCalender .rbc-btn-group {
  background: #fff;
}

.rbCalender .rbc-btn-group button {
  height: 2.5rem;
  width: 6rem;
  cursor: pointer;
  outline: none;
}

.rbCalender .rbc-btn-group button:focus {
  border: 1px solid #ccc;
}

.rbCalender .rbc-month-view {
  background: #fff;
}

.rbCalender .rbc-toolbar-label {
  color: var(--primary-color);
}
